:root {
  --txt: white;
  --bg: black;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0,0.20);
  transition: 0.5s ease;
}
.header :first-child {
  height: 20px;
  width: 20px;
  color: #fff;
  background: rgba(0, 0, 0,0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}
.header :last-child {
  background: rgba(0, 0, 0,0.20);
  width: 30px;
  display: flex;
  justify-content: left;
  height: 17px;
  border-radius: 10px;
  color: #fff;
}
.screen .banner {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner .cover {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}
.banner .cover img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  position: relative;
  top: -5px;
  left: -30px;
}
.banner .singer, .title {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.banner .singer {
  font-size: 21px;
}
.banner .title {
  margin-top: 5px;
  font-size: 13px;
}
.screen .controls {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
}
.controls input {
  appearance: none;
  width: 90%;
  height: 2px;
  margin-top: 10px;
  background: gray;
}
.controls input::-webkit-slider-thumb {
  appearance: none;
  height: 7px;
  width: 7px;
  background: #010101;
  border-radius: 5px;
  box-shadow:0px 0px 10px 1px #000;
  z-index: -2;
}
.controls .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  position: relative;
}
.controls .length {
  width: 90%;
  position: relative;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls .length span {
  font-size: 12px;
  font-weight: 600;
}
.buttons {
  color: rgba(0, 0, 0,0.70);
}
.buttons .fa-play,
.buttons .fa-pause {
  font-size: 50px;
}
.fa-backward {
  font-size: 30px;
  margin-right: 20px;
}
.fa-forward {
  font-size: 30px;
  margin-left: 20px;
}
.fa-heart {
  position: absolute;
  left: 30px;
  font-size: 22px;
}
.coverpic {
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* DARK MOOD */
.screen.dark {
  background: black;
}
.screen.dark .header {
  color: var(--txt);
  background: rgba(255,255,255,0.10);
}
.screen.dark .banner,
.screen.dark .controls {
  color: var(--txt);
}
.screen.dark .buttons {
  color: rgba(255,255,255,0.80);
}
.screen.dark input::-webkit-slider-thumb {
  background: #fff;
  box-shadow:0px 0px 10px 3px #fff;
}
.screen.dark .header :first-child,
.screen.dark .header :last-child {
  background: rgba(255,255,255,0.10);
}
.forword:active,
.backword:active {
  color: #fff;
  transform: scale(1.2);
}